# IMPORT LIBRARY

In [1]:
import pandas as pd
import os

In [2]:
df = pd.read_csv("./dataset/students_data_2025.csv")

In [3]:
df.columns

Index(['id', 'username', 'email', 'firstname', 'lastname', 'idnumber',
       'institution', 'department', 'phone1', 'phone2', 'city', 'country',
       'profile_field_PALSID', 'profile_field_icq', 'profile_field_skype',
       'profile_field_aim', 'profile_field_yahoo', 'profile_field_msn',
       'profile_field_url', 'profile_field_SAID'],
      dtype='object')

In [4]:
df.head()

,id,username,email,firstname,lastname,idnumber,institution,department,phone1,phone2,city,country,profile_field_PALSID,profile_field_icq,profile_field_skype,profile_field_aim,profile_field_yahoo,profile_field_msn,profile_field_url,profile_field_SAID
0,4130,nguyenthuytrinhhaha,nguyenthuytrinhhaha@gmail.com,38.Nguyễn,Thủy Trinh,NaN,NaN,NaN,NaN,NaN,NaN,US,QB18P0354,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,9411,aarush.rachakonda,aarush.rachakonda@gmail.com,Aarush,Rachakonda,NaN,NaN,NaN,NaN,NaN,Da Nang,VN,VTUT2510AAR,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,8998,biswasaayushi77,biswasaayushi77@gmail.com,Aayushi,Biswas,NaN,NaN,NaN,NaN,NaN,Da Nang,VN,VTUT2503AAY,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,7781,abderrahman.elouantouti,Abderrahman.El-Ouantouti@wearecauseway.org.uk,Abderrahman,El-Ouantouti,NaN,NaN,NaN,NaN,NaN,NaN,US,UK2338,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,7543,phanthithukieu.22091994,Phanthithukieu.22091994@gmail.com,AD22P0002,Phan Thị Kiều Hạnh,NaN,PALS,NaN,NaN,NaN,NaN,US,AD22P0002,NaN,NaN,NaN,NaN,NaN,NaN,NaN

# FEATURING

In [5]:
features = ["username", "email", "firstname", "lastname", ]

df = df[features]

## REGREX

In [6]:
# QT18P0085
pattern = r"[A-Z]{2}[0-9]{2}[A-Z]{1}[0-9]{4}"

# Kiểm tra PALS_ID có khớp với regex hay không, và loại bỏ các giá trị không khớp
df = df[df["firstname"].str.match(pattern, na=False)]

In [7]:
df

,username,email,firstname,lastname
4,phanthithukieu.22091994,Phanthithukieu.22091994@gmail.com,AD22P0002,Phan Thị Kiều Hạnh
5,thichgame07,thichgame07@gmail.com,AD22P0003,Giáp Bảo Thiện
6,nghantran80,nghantran80@gmail.com,AD22P0004,Trần Ngọc Hân
7,ngthulptc,ngthulptc@gmail.com,AD22P0005,Huỳnh Thị Ngọc Thư
8,thanhtruongtc00,thanhtruongtc00@gmail.com,AD22P0006,Trần Thanh Trường
...,...,...,...,...
6721,huynhttden33,huynhttden33@gmail.com,WE22P0036,Huỳnh Thị Tiền Đến
6722,nttuongvy13012006,nttuongvy13012006@gmail.com,WE22P0037,Nguyễn Thị Tường Vy
6723,phuongchauvanphuong689,phuongchauvanphuong689@gmail.com,WE22P0038,Châu Yến Nhi
6724,vyquach.28042021,vyquach.28042021@gmail.com,WE22P0039,Quách Thảo Vy
6725,ltbnhan2k5,ltbnhan2k5@gmail.com,WE22P0040,Lữ Thị Bình Nhân

# EXPORT

In [8]:
df.to_csv("./dataset/standardized_glow_students.csv", index=False, encoding="utf-8-sig")