# IMPORT LIBARY

In [1]:
import pandas as pd
import numpy as np
import matplotlib as plt

In [2]:
data = pd.read_csv("./dataset/course-level.csv")

In [3]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 459 entries, 0 to 458
Data columns (total 23 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   First Name         459 non-null    object
 1   Last Name          459 non-null    object
 2   PALSID             459 non-null    object
 3   Email              459 non-null    object
 4   Overall CEFR       459 non-null    object
 5   Pre-Level (ETOP)   444 non-null    object
 6   ETOP Level_Change  459 non-null    object
 7   Status             0 non-null      float64
 8   Listening Score    459 non-null    int64
 9   Listening CEFR     459 non-null    object
 10  Reading Score      459 non-null    int64
 11  Reading CEFR       459 non-null    object
 12  Writing Score      455 non-null    float64
 13  Writing CEFR       455 non-null    object
 14  Speaking Score     455 non-null    float64
 15  Speaking CEFR      455 non-null    object
 16  Overall Score      459 non-null    int64
 17  Gender             459 non-null    object
 18  Birth Year         459 non-null    int64
 19  City               459 non-null    object
 20  Country            459 non-null    object
 21  PHONE              459 non-null    object
 22  Test Date          459 non-null    object
dtypes: float64(3), int64(4), object(16)
memory usage: 82.6+ KB

In [4]:
data.head()

,First Name,Last Name,PALSID,Email,Overall CEFR,Pre-Level (ETOP),ETOP Level_Change,Status,Listening Score,Listening CEFR,...,Writing CEFR,Speaking Score,Speaking CEFR,Overall Score,Gender,Birth Year,City,Country,PHONE,Test Date
0,Thiên Ý,Nguyễn,DT24P0820,nguyenngocthienyy2808@gmail.com,A0,Beginner,No Change,NaN,20,A0,...,A0,0.0,A0,19,female,2011,Dong Thap,VN,+840973324209,2025-03-29T13:44:01.554Z
1,Tram Anh,Nguyen,AG22P1126,tramank254@gmail.com,A1,Beginner,No Change,NaN,25,A1,...,A2,0.0,A0,25,female,2009,An Giang,VN,+840384356254,2025-03-29T14:16:22.544Z
2,Khue,Truong,NAN,bichkhue160@gmail.com,A1,Beginner,No Change,NaN,22,A1,...,A0,0.0,A0,21,female,2008,Binh Dinh,VN,+840334038625,2025-03-25T08:57:35.179Z
3,Huynh Nhu,Le Thi,DT24P0839,huynhnhu34347@gmail.com,A1,Beginner,No Change,NaN,20,A0,...,A1,38.0,A2,27,female,2010,Dong Thap,VN,+840329734347,2025-03-29T05:26:37.070Z
4,Thị Thùy Dương,Võ,DT24P0815,vothithuyduong4869@gmail.com,A1,Beginner,No Change,NaN,26,A1,...,A0,40.0,A2,26,female,2010,Dong Thap,VN,+840368521654,2025-03-28T14:47:10.821Z

In [5]:
data.columns

Index(['First Name', 'Last Name', 'PALSID', 'Email', 'Overall CEFR',
       'Pre-Level (ETOP)', 'ETOP Level_Change', 'Status', 'Listening Score',
       'Listening CEFR', 'Reading Score', 'Reading CEFR', 'Writing Score',
       'Writing CEFR', 'Speaking Score', 'Speaking CEFR', 'Overall Score',
       'Gender', 'Birth Year', 'City', 'Country', 'PHONE', 'Test Date'],
      dtype='object')

# FEATURING

In [6]:
features = ["PALSID", "Email", "ETOP Level_Change"]

data = data[features]
data.rename(
    columns = {
        "Email": "email",
        "PALSID": "firstname",
        "ETOP Level_Change": "updated_level"
    },
    inplace=True,
)

In [7]:
data.info

<bound method DataFrame.info of      firstname                            email updated_level
0    DT24P0820  nguyenngocthienyy2808@gmail.com     No Change
1    AG22P1126             tramank254@gmail.com     No Change
2          NAN            bichkhue160@gmail.com     No Change
3    DT24P0839          huynhnhu34347@gmail.com     No Change
4    DT24P0815     vothithuyduong4869@gmail.com     No Change
..         ...                              ...           ...
454  QG19P0484             quynhvy469@gmail.com     No Change
455  QT20P0316         zwoweq6331@saurieng.info     No Change
456  QT23P0437         ngochienqt2008@gmail.com      Advanced
457  HU22P0509               thpt.qh@hue.edu.vn      Advanced
458  QB23P0608        thangcorona2009@gmail.com      Advanced

[459 rows x 3 columns]>

In [8]:
data

     firstname                            email updated_level
0    DT24P0820  nguyenngocthienyy2808@gmail.com     No Change
1    AG22P1126             tramank254@gmail.com     No Change
2          NAN            bichkhue160@gmail.com     No Change
3    DT24P0839          huynhnhu34347@gmail.com     No Change
4    DT24P0815     vothithuyduong4869@gmail.com     No Change
..         ...                              ...           ...
454  QG19P0484             quynhvy469@gmail.com     No Change
455  QT20P0316         zwoweq6331@saurieng.info     No Change
456  QT23P0437         ngochienqt2008@gmail.com      Advanced
457  HU22P0509               thpt.qh@hue.edu.vn      Advanced
458  QB23P0608        thangcorona2009@gmail.com      Advanced

[459 rows x 3 columns]

In [9]:
data["firstname"].describe()

count           459
unique          450
top       QT19P0214
freq              2
Name: firstname, dtype: object

In [10]:
data["firstname"].isnull().sum()

np.int64(0)

In [11]:
data["updated_level"].describe()

count           459
unique            4
top       No Change
freq            223
Name: updated_level, dtype: object

In [12]:
df = data[data["updated_level"] != "No Change"]
df

     firstname                         email updated_level
19   QN23P0764        my.qn23p0764@gmail.com  Intermediate
52   PALS20NGO         ntbngoc16kt@gmail.com      Beginner
58   NA24PO260         thidinhyen4@gmail.com      Beginner
93   QT20P0275      quoc.qt23p0437@gmail.com      Beginner
103  AG22P1146   thithanhtuyenle32@gmail.com  Intermediate
..         ...                           ...           ...
445  DN17P0164  chucmayman07082003@gmail.com      Advanced
446  QN21P0673      hien.qn21p0673@gmail.com      Advanced
456  QT23P0437      ngochienqt2008@gmail.com      Advanced
457  HU22P0509            thpt.qh@hue.edu.vn      Advanced
458  QB23P0608     thangcorona2009@gmail.com      Advanced

[236 rows x 3 columns]

# UPDATE COURSE CHANGE

```python
df.loc[condition, 'column_to_change'] = new_value
```

## BEGINNER

In [13]:
df.loc[df["updated_level"] == "Beginner", "updated_level"] = "ETB-2025"

/tmp/ipykernel_269454/2057898368.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.loc[df["updated_level"] == "Beginner", "updated_level"] = "ETB-2025"

In [14]:
df

     firstname                         email updated_level
19   QN23P0764        my.qn23p0764@gmail.com  Intermediate
52   PALS20NGO         ntbngoc16kt@gmail.com      ETB-2025
58   NA24PO260         thidinhyen4@gmail.com      ETB-2025
93   QT20P0275      quoc.qt23p0437@gmail.com      ETB-2025
103  AG22P1146   thithanhtuyenle32@gmail.com  Intermediate
..         ...                           ...           ...
445  DN17P0164  chucmayman07082003@gmail.com      Advanced
446  QN21P0673      hien.qn21p0673@gmail.com      Advanced
456  QT23P0437      ngochienqt2008@gmail.com      Advanced
457  HU22P0509            thpt.qh@hue.edu.vn      Advanced
458  QB23P0608     thangcorona2009@gmail.com      Advanced

[236 rows x 3 columns]

## INTERMEDIATE

In [15]:
df.loc[df["updated_level"] == "Intermediate", 'updated_level'] = "ETI-2025"

/tmp/ipykernel_269454/1951919971.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.loc[df["updated_level"] == "Intermediate", 'updated_level'] = "ETI-2025"

In [16]:
df

     firstname                         email updated_level
19   QN23P0764        my.qn23p0764@gmail.com      ETI-2025
52   PALS20NGO         ntbngoc16kt@gmail.com      ETB-2025
58   NA24PO260         thidinhyen4@gmail.com      ETB-2025
93   QT20P0275      quoc.qt23p0437@gmail.com      ETB-2025
103  AG22P1146   thithanhtuyenle32@gmail.com      ETI-2025
..         ...                           ...           ...
445  DN17P0164  chucmayman07082003@gmail.com      Advanced
446  QN21P0673      hien.qn21p0673@gmail.com      Advanced
456  QT23P0437      ngochienqt2008@gmail.com      Advanced
457  HU22P0509            thpt.qh@hue.edu.vn      Advanced
458  QB23P0608     thangcorona2009@gmail.com      Advanced

[236 rows x 3 columns]

## ADVANCED

In [17]:
df.loc[df["updated_level"] == "Advanced", "updated_level"] = "ETA-2025"

/tmp/ipykernel_269454/3059194131.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.loc[df["updated_level"] == "Advanced", "updated_level"] = "ETA-2025"

In [18]:
df

     firstname                         email updated_level
19   QN23P0764        my.qn23p0764@gmail.com      ETI-2025
52   PALS20NGO         ntbngoc16kt@gmail.com      ETB-2025
58   NA24PO260         thidinhyen4@gmail.com      ETB-2025
93   QT20P0275      quoc.qt23p0437@gmail.com      ETB-2025
103  AG22P1146   thithanhtuyenle32@gmail.com      ETI-2025
..         ...                           ...           ...
445  DN17P0164  chucmayman07082003@gmail.com      ETA-2025
446  QN21P0673      hien.qn21p0673@gmail.com      ETA-2025
456  QT23P0437      ngochienqt2008@gmail.com      ETA-2025
457  HU22P0509            thpt.qh@hue.edu.vn      ETA-2025
458  QB23P0608     thangcorona2009@gmail.com      ETA-2025

[236 rows x 3 columns]

# MERGEING WITH DATASET

In [19]:
dataset = pd.read_csv("./dataset/standardized_glow_students.csv")

features = ["username", "email", "lastname"]
dataset = dataset[features]

In [20]:
final_df = pd.merge(df, dataset, on="email", how="left")
final_df

,firstname,email,updated_level,username,lastname
0,QN23P0764,my.qn23p0764@gmail.com,ETI-2025,my.qn23p0764,NGUYỄN NGỌC HÒA MY
1,PALS20NGO,ntbngoc16kt@gmail.com,ETB-2025,NaN,NaN
2,NA24PO260,thidinhyen4@gmail.com,ETB-2025,thidinhyen4,Đinh Thị Yến
3,QT20P0275,quoc.qt23p0437@gmail.com,ETB-2025,quoc.qt23p0437,PHẠM NHƯ NHẬT QUỐC
4,AG22P1146,thithanhtuyenle32@gmail.com,ETI-2025,thithanhtuyenle32,Nguyễn Thị Thanh Trúc
...,...,...,...,...,...
231,DN17P0164,chucmayman07082003@gmail.com,ETA-2025,NaN,NaN
232,QN21P0673,hien.qn21p0673@gmail.com,ETA-2025,hien.qn21p0673,PHAN THỊ HIỀN
233,QT23P0437,ngochienqt2008@gmail.com,ETA-2025,NaN,NaN
234,HU22P0509,thpt.qh@hue.edu.vn,ETA-2025,NaN,NaN
235,QB23P0608,thangcorona2009@gmail.com,ETA-2025,thang.qb23p0608,LÊ QUANG THẮNG

In [21]:
final_df["username"].isnull().sum()

np.int64(33)

# EXPORT TO TARGET FILE

In [22]:
final_df.rename(columns={
    "updated_level": "cohort1"
}, inplace=True)

final_df["role1"] = "student"
final_df.loc[final_df["cohort1"] == "ETB-2025", "course1"] = "ETOP Beginner"
final_df.loc[final_df["cohort1"] == "ETI-2025", "course1"] = "ETOP Intermediate"
final_df.loc[final_df["cohort1"] == "ETA-2025", "course1"] = "ETOP Advanced"

In [23]:
final_df

,firstname,email,cohort1,username,lastname,role1,course1
0,QN23P0764,my.qn23p0764@gmail.com,ETI-2025,my.qn23p0764,NGUYỄN NGỌC HÒA MY,student,ETOP Intermediate
1,PALS20NGO,ntbngoc16kt@gmail.com,ETB-2025,NaN,NaN,student,ETOP Beginner
2,NA24PO260,thidinhyen4@gmail.com,ETB-2025,thidinhyen4,Đinh Thị Yến,student,ETOP Beginner
3,QT20P0275,quoc.qt23p0437@gmail.com,ETB-2025,quoc.qt23p0437,PHẠM NHƯ NHẬT QUỐC,student,ETOP Beginner
4,AG22P1146,thithanhtuyenle32@gmail.com,ETI-2025,thithanhtuyenle32,Nguyễn Thị Thanh Trúc,student,ETOP Intermediate
...,...,...,...,...,...,...,...
231,DN17P0164,chucmayman07082003@gmail.com,ETA-2025,NaN,NaN,student,ETOP Advanced
232,QN21P0673,hien.qn21p0673@gmail.com,ETA-2025,hien.qn21p0673,PHAN THỊ HIỀN,student,ETOP Advanced
233,QT23P0437,ngochienqt2008@gmail.com,ETA-2025,NaN,NaN,student,ETOP Advanced
234,HU22P0509,thpt.qh@hue.edu.vn,ETA-2025,NaN,NaN,student,ETOP Advanced
235,QB23P0608,thangcorona2009@gmail.com,ETA-2025,thang.qb23p0608,LÊ QUANG THẮNG,student,ETOP Advanced

In [24]:
final_df.to_csv("./etop_level_updated/final.csv", index=False, encoding='utf-8-sig')
print(f"Export final data succeefuly !")

Export final data succeefuly !

## USERNAME NOT FOUND
BY USING ANOTHER EMAIL INSTEAD OF EMAIL REGISTER GLOW ACCOUNTS

In [25]:
username_not_found = final_df[final_df["username"].isnull()]

In [26]:
username_not_found.reset_index(drop=True)

,firstname,email,cohort1,username,lastname,role1,course1
0,PALS20NGO,ntbngoc16kt@gmail.com,ETB-2025,NaN,NaN,student,ETOP Beginner
1,BD24P0373,dat.bd240373@gmail.com,ETI-2025,NaN,NaN,student,ETOP Intermediate
2,BD23P0355,ngochuynhthibao1@gmail.com,ETI-2025,NaN,NaN,student,ETOP Intermediate
3,DT24P0819,scholarshippals@pacificlinks.org,ETI-2025,NaN,NaN,student,ETOP Intermediate
4,HU23P0537,glow@gmail.com,ETI-2025,NaN,NaN,student,ETOP Intermediate
5,QN23P0780,hau.qn23p0780@gmail.con,ETI-2025,NaN,NaN,student,ETOP Intermediate
6,QG23P0645,huy.qg23p0646@gmail.com,ETI-2025,NaN,NaN,student,ETOP Intermediate
7,QG23P0652,mybui.140609@gmail.com,ETI-2025,NaN,NaN,student,ETOP Intermediate
8,QG17P0252,anhngocnguyen112005@gmail.com,ETI-2025,NaN,NaN,student,ETOP Intermediate
9,QT22P0387,lethingoconh2020@gmail.com,ETI-2025,NaN,NaN,student,ETOP Intermediate
10,QT22P0409,thanhhnhann0203@gmail.com,ETI-2025,NaN,NaN,student,ETOP Intermediate
11,BD24P0374,ueueuyeye747@gmail.com,ETI-2025,NaN,NaN,student,ETOP Intermediate
12,BD24P0372,thu.bd24p0327@gmail.com,ETI-2025,NaN,NaN,student,ETOP Intermediate
13,QP22P0569,tranbaotram1906@gmail.com,ETI-2025,NaN,NaN,student,ETOP Intermediate
14,QB23P0604,giangqb23p0604@gmail.com,ETI-2025,NaN,NaN,student,ETOP Intermediate
15,QT22P0415,tlathinh28@gmail.com,ETI-2025,NaN,NaN,student,ETOP Intermediate
16,BD24P0377,anhbd24p0377@gmail.com,ETI-2025,NaN,NaN,student,ETOP Intermediate
17,QN17P0279,datkz31@gmail.com,ETI-2025,NaN,NaN,student,ETOP Intermediate
18,QN17P0279,datkz31@gmail.com,ETI-2025,NaN,NaN,student,ETOP Intermediate
19,DN21P0451,hangghanggnguyen@gmail.com,ETI-2025,NaN,NaN,student,ETOP Intermediate
20,DT20P0621,nguyenhongngoc120919@gmail.com,ETI-2025,NaN,NaN,student,ETOP Intermediate
21,QN24P0843,doduc04.05.2010@gmail.com,ETI-2025,NaN,NaN,student,ETOP Intermediate
22,QG23P0651,nga.qg23p0651@gmail.com,ETI-2025,NaN,NaN,student,ETOP Intermediate
23,BD23P0357,thptlequydon@sgddt.binhdinh.gov.vn,ETI-2025,NaN,NaN,student,ETOP Intermediate
24,DN24P0530,dn24p0530@gmail.com,ETI-2025,NaN,NaN,student,ETOP Intermediate
25,HU24P0571,thaiphuonghongngoc2010@gmail.com,ETI-2025,NaN,NaN,student,ETOP Intermediate
26,QT23P0432,vonhatkimanh11121999@gmail.com,ETI-2025,NaN,NaN,student,ETOP Intermediate
27,2404195516,truongthpttxquangtri@quangtri.gov.vn,ETI-2025,NaN,NaN,student,ETOP Intermediate
28,QN22P0706,nivktc@gmail.com,ETA-2025,NaN,NaN,student,ETOP Advanced
29,QB22P0572,hoseki.7108@gmail.com,ETA-2025,NaN,NaN,student,ETOP Advanced
30,DN17P0164,chucmayman07082003@gmail.com,ETA-2025,NaN,NaN,student,ETOP Advanced
31,QT23P0437,ngochienqt2008@gmail.com,ETA-2025,NaN,NaN,student,ETOP Advanced
32,HU22P0509,thpt.qh@hue.edu.vn,ETA-2025,NaN,NaN,student,ETOP Advanced

In [27]:
username_not_found.to_csv("./etop_level_updated/username_not_found.csv", index=False, encoding='utf-8-sig')